@import url('foo.css');
.helloWorld {
  display: block;
}
.helloWorldFlash {
  background: green;
}

.article .video .play {
  content: '>';
}

.article .video .pause {
  content: '||';
}

/* stylelint-disable selector-no-type */
/* testing selector-type-case rule */
BODY {
  display: block;
}

.no-indistinguishable-colors-rule {
  color: #000;
  background: #010101;
}


/* stylelint-disable no-browser-hacks */
