@import url('foo.css');
.helloWorld {
  display: block;
}
.helloWorldFlash {
  background: green;
}

.article .video .play {
  content: '>';
}

.article .video .pause {
  content: '||';
}

/* stylelint-disable selector-no-type */
/* testing selector-type-case rule */
BODY {
  display: block;
}

.no-indistinguishable-colors-rule {
  color: #000;
  background: #010101;
}


/* stylelint-disable no-browser-hacks */


.declaration-block-no-ignored-properties {
  display: inline;
  width: 100%;
}

.function-max-empty-lines {
  transform:
    translate(
      1,

      1
    );
}

.unit-no-unknown {
  width: 10pixels;
}
