@import url('foo.css');

.hello-world {
  display: block;
}

.hello-world--flash {
  background: hsl(122, 67%, 39%);
}

.article .video .play {
  content: '>';
}

.article .video .pause {
  content: '||';
}

/* stylelint-disable selector-no-type */

body {
  display: block;
}
