@charset 'utf-8';
@import url('foo.css');

.hello-world {
  display: block;
}

.hello-world--flash {
  background: hsl(122, 67%, 39%);
}

.article .video .play {
  content: '>';
}

.article .video .pause {
  content: '||';
}

/* stylelint-disable selector-no-type */
/* testing selector-type-case rule */

body {
  display: block;
}

.no-indistinguishable-colors-rule {
  color: #000;
  background: #fff;
}

/* stylelint-disable no-browser-hacks */
/* need a reason for disable rules */

.declaration-block-no-ignored-properties {
  display: inline;
}

.function-max-empty-lines {
  transform:
    translate(
      1,
      1
    );
}

.unit-no-unknown {
  width: 10px;
}

.function-name-case {
  width: calc(10px + 1px);
}

.property-case {
  width: 10px;
}

.selector-pseudo-class-case:hover {
  width: 10px;
}

.selector-pseudo-element-case::after {
  width: 10px;
}

.unit-case {
  width: 10px;
}

.value-keyword-case {
  display: block;
}

.indentation--indent-inside-parens {
  color:
    rgb(
      211,
      211,
      211
    );
}

.selector-attribute-brackets-space-inside[foo] {
  background: #f00;
}

.selector-pseudo-class-parentheses-space-inside:not([foo]) {
  background: #f00;
}
